* {
    margin: 0;
    padding: 0;
}
.productContainer {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 30px;
    margin-bottom: 30px;
}
@media (max-width: 1000px) {
    .productContainer {
        flex-direction: column;
    }
    .productContainer .left .productImageContainer img {
        width: 100vw;
    }
    .productContainer h3 {
        
        margin-bottom: 10px;
    }
    
}
.productContainer .left .productImageContainer{
    width: auto;
    display: flex;
    align-items: center;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.322);

}

.productContainer .left .productImageContainer img {
    width: 500px;
}

.productContainer h3 {
    color: rgba(5, 15, 15, 0.5);
    font-weight: 400;
    /* margin-bottom: 150px; */
}
.productContainer a {
    background-color: rgba(87, 191, 193, 1);
    color: white;
    width: 194px ;
    height: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
    border-radius: 15px;
    gap: 10px;
    transition: 0.10s ease;
    text-decoration: none;
}
.productContainer .prices {
    display: flex;
    gap: 10px;
    font-weight: 400;
}
.productContainer .prices .real_price {
    text-decoration:line-through;
    color: rgba(128, 128, 128, 0.322);
    font-weight: 500;

}
.productContainer .prices .discounted_price {
    font-weight: 500;
}