.discountedPage {
    width: 100%;
    height: auto;
    background-color: rgba(87, 191, 193, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.discountedPage .section1 h1 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
}

.discountedPage .section1 h6 {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.discountedPage .section1 {
    padding: 50px;
}

.discountedPage .section1 img {
    max-width: 900px;
    transform: translateY(55px);
}


.section2, .section3 {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 100%; 
}

.section2 .card, .section3 .card {
    background-color: white;
    padding: 20px;
    width: 350px;
    height: 150px;
    border-radius: 15px;
    
    transition: 0.1s ease;
}

.section2 .card:hover, .section3 .card:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.section2 .card h5, .section3 .card h5 {
    color: rgba(5, 15, 15, 0.5);
    font-weight: 400;
}

.section2 .card h1, .section3 .card h1 {
    font-size: 20px;
    font-weight: 600;
}


.section2 .card:first-child, .section2 .card:last-child,
.section3 .card:first-child, .section3 .card:last-child {
    transform: translateX(-100%);
}


@media (max-width: 1000px) {
    .discountedPage {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .discountedPage .section1 img {
        width: 200%; 
        margin: 0 auto;
        display: block;
        max-width: 650px; 
    }

    .discountedPage .section1 h1 {
        font-size: 28px;
    }

    .discountedPage .section1 h6 {
        font-size: 16px; 
    }

    
    .section2, .section3 {
        flex-direction: column;
        gap: 15px;  
    }

   
    .section2 .card, .section3 .card {
        width: 90%;  
        margin: 0 auto;
    }

 
    .section2 .card:first-child, .section2 .card:last-child,
    .section3 .card:first-child, .section3 .card:last-child {
        transform: translateX(0) !important;
    }
}

